.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}

.themed-container-pink {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 63, 63, .15);
    border: 1px solid rgba(255, 63, 63, .2);
}

.code-container {
    white-space: pre-wrap;
    padding: .75rem;
    background-color: #eee;
    border: 1px solid #ccc;
    font-family: courier, monospace;
}